In [495]:
import requests
import time
import pandas as pd
import lxml.html as lx

In [499]:
def get_house_info(city, state):
    price = list()
    sqft = list()
    latitude = list()
    longitude = list()

    for j in range(0, 21):
        time.sleep(0.05)
        if j == 0:
            url = "https://www.trulia.com/" + str(state) + "/" + str(city) + "/"
        else:
            url = "https://www.trulia.com/"+ str(state) + "/" + str(city) + "/" + str(j) + " p/"
        response = requests.get(url,
                                headers = {
                                    "accept" : "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", 
                                    "accept-encoding": "gzip, deflate, br",
                                    "accept-language": "en-US,en;q=0.9",
                                    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36"})

        html = response.text
        page = BeautifulSoup(html, "html.parser")

        houses = page.find_all("ul", class_="Grid__GridContainer-sc-144isrp-1 cSOwYb") 
        houses = str(houses).split('<li')[1:]

        for i in range(0,len(houses)) :
            if 'data-testid="property-price" title="' in houses[i]:
                price.append(houses[i].split('data-testid="property-price" title="')[1].split('">$')[0].replace(",", ""))
            else:
                price.append("Unkown")
            #if "sqft" in houses[i]:
            #    sqft.append(houses[i].split('sqft">')[1].split('sqft</div>')[0].replace(",", ""))
            #else:
            #    sqft.append("Unknown")
            if "latitude" in houses[i]:
                latitude.append(houses[i].split('"latitude":')[1].split(',"longitude"')[0])
            else:
                latitude.append("Unknown")
            if "longitude" in houses[i]:
                longitude.append(houses[i].split('"longitude":')[1].split('}}</script>')[0])
            else:
                longitude.append("Unknown")

    df = pd.DataFrame()
    df["Price"] = price
    #df["Square Footage"] = sqft
    df["Latitude"] = latitude
    df["Longitude"] = longitude
    return(df)

In [500]:
time.sleep(0.05)
df_LA = get_house_info("Los_Angeles", "CA")
time.sleep(0.05)
df_Chicago = get_house_info("Chicago", "IL")
time.sleep(0.05)
df_Dallas = get_house_info("Dallas", "TX")
time.sleep(0.05)
df_DC = get_house_info("Washington", "DC")

In [501]:
df_DC

        Price   Latitude   Longitude
0    $649900+  38.912003   -77.00242
1     $746123  38.831635  -77.015045
2      Unkown    Unknown     Unknown
3      Unkown    Unknown     Unknown
4      $35000   38.89904   -77.05192
..        ...        ...         ...
877   $749000  38.945835  -77.027916
878   $519000  38.945835  -77.027916
879   $939900   38.94144   -77.02333
880   $789899   38.94144   -77.02333
881   $595000   38.90991   -77.03569

[882 rows x 3 columns]