In [59]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [62]:
#turn data into address
def address(x):
    x = x.iloc[:,range(9,13)]
    x['address'] = x[x.columns[:]].apply(
        lambda x: ', '.join(x.dropna().astype(str)),
        axis=1
    )
    x = pd.DataFrame(x[x.columns[4]])
    return x

In [64]:
#Read data in
#La
la = pd.read_excel("./data/la.xlsx")
la = address(la)
long_beach = pd.read_excel("./data/long_beach.xlsx")
long_beach = address(long_beach)
anaheim = pd.read_excel("./data/anaheim.xlsx")
anaheim = address(anaheim)

#Chicago
chicago = pd.read_excel("./data/chicago.xlsx")
chicago = address(chicago)
naperville = pd.read_excel("./data/naperville.xlsx")
naperville = address(naperville)
elgin = pd.read_excel("./data/elgin.xlsx")
elgin = address(elgin)

#Dallas
dallas = pd.read_excel("./data/dallas.xlsx")
dallas = address(dallas)
fort_worth = pd.read_excel("./data/fort_worth.xlsx")
fort_worth = address(fort_worth)
arlington = pd.read_excel("./data/arlington.xlsx")
arlington = address(arlington)

#Washington
washington = pd.read_excel("./data/dc.xlsx")
washington = address(washington)
arlington_va = pd.read_excel("./data/arlington_va.xlsx")
arlington_va = address(arlington_va)
alexandria = pd.read_excel("./data/alexandria.xlsx")
alexandria = address(alexandria)

In [79]:
la

                                               address
0              3501 N. BRd.way, Los Angeles, CA, 90031
1                 PO Box 42095, Los Angeles, CA, 90042
2             4000 S. Main St., Los Angeles, CA, 90037
3             3914 S. Main St., Los Angeles, CA, 90037
4    1149 S. Hill St. Ste. 600, Los Angeles, CA, 90015
..                                                 ...
577       3140 Hyde Park Blvd., Los Angeles, CA, 90043
578          5657 Meridian St., Los Angeles, CA, 90042
579          615 S. Shatto Pl., Los Angeles, CA, 90005
580            943 W. 85th St., Los Angeles, CA, 90044
581  2202 S. Figueroa Ste. 728, Los Angeles, CA, 90007

[582 rows x 1 columns]